<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="aboutPortrait" src="/img/movingforecast.webp">
        <p>Enter any location and I will return your forecast information</p>
    </div>
    {{>footer}}
</body>
</html>